.e609_8874 { 
	overflow:hidden;
}
.e609_8874 { 
	background-color:rgba(255, 255, 255, 1);
	width:1728px;
	height:10925px;
	position:absolute;
}
.e619_9083 { 
	color:rgba(0, 0, 0, 1);
	width:631px;
	height:88px;
	position:absolute;
	left:549px;
	top:297px;
	font-family:DM Serif Display;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e619_9084 { 
	color:rgba(0, 0, 0, 1);
	width:628px;
	height:36px;
	position:absolute;
	left:546px;
	top:385px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e619_9085 { 
	transform: rotate(-45deg);
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:70px;
	position:absolute;
	left:191px;
	top:759.5218505859375px;
	font-family:Caveat;
	text-align:center;
	font-size:55.20000076293945px;
	letter-spacing:0;
}
.e619_9086 { 
	transform: rotate(-45deg);
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:70px;
	position:absolute;
	left:191px;
	top:2115.52197265625px;
	font-family:Caveat;
	text-align:center;
	font-size:55.20000076293945px;
	letter-spacing:0;
}
.e619_9087 { 
	transform: rotate(-45deg);
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:70px;
	position:absolute;
	left:101px;
	top:3599.52197265625px;
	font-family:Caveat;
	text-align:center;
	font-size:55.20000076293945px;
	letter-spacing:0;
}
.e619_9088 { 
	width:1164px;
	height:973px;
	position:absolute;
	left:282px;
	top:768px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e619_9089 { 
	width:1164px;
	height:854.7525024414062px;
	position:absolute;
	left:278px;
	top:2175px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e619_9090 { 
	width:1164px;
	height:1021.11376953125px;
	position:absolute;
	left:231px;
	top:3434px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e619_9091 { 
	color:rgba(0, 0, 0, 1);
	width:687px;
	height:72px;
	position:absolute;
	left:520.5px;
	top:2014px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e619_9092 { 
	width:860px;
	height:146px;
	position:absolute;
	left:434px;
	top:542px;
}
.e619_9093 { 
	color:rgba(0, 0, 0, 1);
	width:543px;
	height:58px;
	position:absolute;
	left:158.5px;
	top:0px;
	font-family:DM Serif Display;
	text-align:center;
	font-size:42px;
	letter-spacing:0;
}
.e619_9094 { 
	color:rgba(0, 0, 0, 1);
	width:860px;
	height:72px;
	position:absolute;
	left:0px;
	top:74px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e619_9095 { 
	width:766px;
	height:58px;
	position:absolute;
	left:481px;
	top:1940px;
}
.e619_9096 { 
	color:rgba(0, 0, 0, 1);
	width:766px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Serif Display;
	text-align:center;
	font-size:42px;
	letter-spacing:0;
}
.e619_9097 { 
	width:766px;
	height:146px;
	position:absolute;
	left:481px;
	top:3220px;
}
.e619_9098 { 
	color:rgba(0, 0, 0, 1);
	width:766px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:DM Serif Display;
	text-align:center;
	font-size:42px;
	letter-spacing:0;
}
.e619_9099 { 
	color:rgba(0, 0, 0, 1);
	width:687px;
	height:72px;
	position:absolute;
	left:39.5px;
	top:74px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
